body {
  background-color: #251d58;
}

.main {
  height: 520px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 430px;
}

.main-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 520px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -95%);
  width: 430px;
}

.main-points {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 520px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -95%);
  width: 430px;
  margin-top: 50px;
}

.main-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 520px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -95%);
  width: 430px;
  margin-top: 190px;
}

.main-register {
  
  height: 520px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -95%);
  width: 430px;
  margin-top: 160px;
}

.main-polygons {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 820px;
  left: 50%;
  position: absolute;
  top: 80%;
  transform: translate(-50%, -95%);
  width: 430px;
  margin-top: 30px;
}

.sub-container-polygons {
  display: flex;
  align-items: center;
  width: 430px;
  margin-top: 0px;
}

.menu-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
}

.button-container {
  margin-top: 40px;
}

.button-menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 180px;
  border-style: solid;
  border-color: #eaf0fb;
  border-radius: 10px;
  border-width: 1px;
  width: 350px;
  height: 350px;
}

.register-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-left: 10px;
  
}

.button-login-container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.polygon-button-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.title {
  color: #eaf0fb;
  display: block;
  font-family: 'Goudy Bookletter 1911' , sans-serif;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 40px;
  padding: 10px;
  text-align-last: center;
}

.title-menu {
  color: #eaf0fb;
  display: block;
  font-family: 'Goudy Bookletter 1911' , sans-serif;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 20px;
  text-align-last: center;
}

.error {
  color: #943232;
  display: block;
  font-family: 'Goudy Bookletter 1911' , sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-top: 40px;
  padding: 10px;
  text-align-last: center;
}

input {
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 15px;
  color: #eaf0fb;
  display: block;
  font-size: 17px;
  height: 50px;
  margin-top: 8px;
  padding: 0 10px;
  text-align-last: center;
  width: 95%;
}

.polygon-input {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 15px;
  color: #eaf0fb;
  font-size: 17px;
  height: 50px;
  margin-top: 8px;
  padding: 0 10px;
  text-align-last: center;
  width: 95%;
}

::placeholder {
  color: #858585;
  font-size: 15px;
  font-style: italic;
}

button:disabled {
  background-color: #ccc;
  border: 1px solid #999;
  color: #666;
}

@import url("~leaflet/dist/leaflet.css");

.leaflet-container {
  width: 100%;
  height: 100vh;
}

.back-menu-button {
  background-color: white;
  border-radius: 6px;
  color: #080710;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  width: 100px;
  height: 50px;
}

.common-button {
  background-color: white;
  border-radius: 6px;
  color: #080710;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  width: 300px;
  height: 50px;
  margin-bottom: 4px;
  margin-top: 4px;  
}

.logout-button {
  background-color: white;
  border-radius: 6px;
  color: #080710;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  width: 70px;
  height: 35px;  
}